// 默认样式
.zyhIncomeReportMainPage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style-position: inside;
    list-style-type: none;
  }

  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }

  height: 100vh;
  display: flex;
  flex-flow: column;

  header {
    position: relative;
    border: 1px solid black;

    .infoArea {
      height: 102px;
      display: flex;
      flex-direction: row;
      position: relative;

      .pageName {
        flex-grow: 1;
        font-family: PingFangSC-Regular;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #000000;
        line-height: 102px;
        text-indent: 38px;
      }

      .profile {
        margin-top: 40px;
        margin-right: 37px;
      }
    }

    .functionArea {
      border: 1px solid red;
      position: absolute;
      left: 0;
      top: 120px;
      z-index: 1;
      height: 36px;
      display: flex;
      flex-direction: row;
      margin-left: 38px;

      .inputFrame {
        width: 442px;
        height: 36px;
        border-radius: 10px;
        border: solid 1px #1e69fe;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        img {
          margin-left: 20px;
          margin-right: 0px;
        }

        .inputBlank {
          width: 390px;
          height: 30px;

          .el-input__inner {
            height: 30px;
            text-indent: 10px;
            border: none;
          }
        }
      }

      .searchButton {
        .el-button {
          display: flex;
          align-items: center;
          border-radius: 10px;
          padding: 0 15px;
          height: 36px;
          margin-left: 8px;
          font-size: 16px;
          background: #1e69fe;
          color: #fff;

          span {
            margin-left: 5px;
          }
        }
      }

      .toggleTable {
        .listButton {
          width: 44px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          margin-right: 50px;
        }

        .chartButton {
          width: 44px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          margin-right: 50px;
        }
      }
    }
  }

  section {
    border: 1px solid black;
    flex-grow: 1;

    .el-table {
      .el-table__header {
        tr {
          height: 60px;

          .cell {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            color: black;
          }
        }
      }

      .el-table__body {
        tr {
          height: calc(((100vh - 288px) / 12));

          .cell {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            color: #908e8e;

            .operation {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              div {
                img {
                  margin: 0 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    border: 1px solid red;
    height: 100%;
    max-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;

    .total {
      font-family: PingFangSC-Regular;
      font-size: 16px;
      font-weight: 600;
      color: #333333;
      /* border: 1px solid red; */
    }
  }
}

// 弹出框样式
.zyhSingleLineListMainPage {
  .el-dialog {
    margin: 0 auto;
    padding: 50px;

    .el-dialog__header {
    }

    .el-dialog__body {
      padding: 10px;

      .el-form {
        &-item {
          margin: 10px;

          &__label {
            text-align: center;
          }

          &__content {
            input {
              text-indent: 10px;
            }
          }
        }
      }
    }

    .el-dialog__footer {
      button {
        padding: 5px;
      }
    }
  }
}
