// 默认样式
.zyhSingleLineListMainPage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style-position: inside;
    list-style-type: none;
  }

  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }

  height: 100vh;
  display: flex;
  flex-flow: column;

  header {
    .infoArea {
      height: 102px;
      display: flex;
      flex-direction: row;
      position: relative;

      .pageName {
        flex-grow: 1;
        font-family: PingFangSC-Regular;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #000000;
        line-height: 102px;
        text-indent: 38px;
      }

      .profile {
        margin-top: 40px;
        margin-right: 37px;
      }
    }

    .searchArea {
      height: 36px;
      display: flex;
      flex-direction: row;
      margin-left: 38px;

      .inputFrame {
        width: 442px;
        height: 36px;
        border-radius: 10px;
        border: solid 1px #1e69fe;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        img {
          margin-left: 20px;
          margin-right: 0px;
        }

        .inputBlank {
          width: 390px;
          height: 30px;

          .el-input__inner {
            height: 30px;
            text-indent: 10px;
            border: none;
          }
        }
      }

      .searchButton {
        .el-button {
          display: flex;
          align-items: center;
          border-radius: 10px;
          padding: 0 15px;
          height: 36px;
          margin-left: 8px;
          font-size: 16px;
          background: #1e69fe;
          color: #fff;

          span {
            margin-left: 5px;
          }
        }
      }

      .addButton {
        .el-button {
          border-radius: 10px;
          padding: 0 15px;
          height: 36px;
          margin-left: 8px;
          font-size: 16px;
          background: #fff;
          color: #1e69fe;
          display: flex;
          align-items: center;

          span {
            margin-left: 5px;
          }
        }
      }

      .blank {
        flex-grow: 1;
      }

      .toggleTable {
        position: absolute;
        top: 90px;
        right: 0px;

        .listButton {
          width: 44px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          margin-right: 50px;
        }

        .chartButton {
          width: 44px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          margin-right: 50px;
        }
      }
    }
  }

  section {
    flex-grow: 1;

    .el-table {
      .el-table__header {
        tr {
          height: 60px;

          .cell {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            color: black;
          }
        }
      }

      .el-table__body {
        tr {
          height: calc(((100vh - 288px) / 12));

          .cell {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            color: #908e8e;

            .operation {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              div {
                .refundIcon {
                  background-color: #3571f5;
                }

                img {
                  margin: 0 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    height: 100%;
    max-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;

    .total {
      font-family: PingFangSC-Regular;
      font-size: 16px;
      font-weight: 600;
      color: #333333;
      /* border: 1px solid red; */
    }
  }
}

// 弹出框样式
.zyhSingleLineListMainPage {
  .el-dialog {
    margin: 0 auto;
    padding: 50px;

    .el-dialog__header {
    }

    .el-dialog__body {
      padding: 10px;

      .el-form {
        &-item {
          margin: 10px;

          &__label {
            text-align: center;
          }

          &__content {
            input {
              text-indent: 10px;
            }
          }
        }
      }
    }

    .el-dialog__footer {
      button {
        padding: 5px;
      }
    }
  }
}

// 气表，水表图表样式
.zyhSingleLineListMainPage.gasMeter, .zyhSingleLineListMainPage.waterMeter {
  section {
    ul {
      padding-top: 35px;
      display: flex;
      flex-wrap: wrap;

      li {
        width: calc((100vw - 238px) * 0.25);
        height: calc((100vh - 238px) * 0.25);
        padding-right: 38px;
        padding-bottom: 38px;

        .tableItem {
          height: 100%;
          // padding: 7px 14px;
          border: 3px solid #8e96a4;
          border-radius: 10px;
          overflow: hidden;
          background: #f6f7fa;
          display: flex;
          flex-direction: column;

          .wrapper {
            margin: 8px 15px 0 15px;
            height: 70%;
            background: #fff;
            border: 2px solid #a5acb7;
            border-radius: 10px;

            .signBar {
              height: 35%;
              padding: 0 10px;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .circle {
                border: 2px solid #919191;
                height: 20px;
                width: 20px;
                border-radius: 10px;
                background: #6dc655;
              }

              span:nth-child(2) {
                font-size: 14px;
                font-family: PingFang SC;
                font-weight: 400;
                color: #979797;
              }

              span:nth-child(3) {
                img {
                  height: 20px;
                }
              }
            }

            .meterInfo {
              height: 65%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 10px;

              span:nth-child(1) {
                flex-grow: 1;
                font-size: 14px;
                font-family: PingFang SC;
                font-weight: 400;
                color: #979797;
              }

              span:nth-child(2) {
                margin: 10px;
                font-size: 30px;
                font-family: PingFang SC;
                font-weight: 600;
                color: #979797;
              }

              span:nth-child(3) {
                font-size: 20px;
                font-family: PingFang SC;
                font-weight: 500;
                color: #979797;
              }
            }
          }

          .operation {
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              margin: 10px;
              height: 20px;
            }
          }
        }
      }

      li:nth-child(4n + 1) {
        margin-left: 38px;
      }
    }
  }
}

// 电表图表样式
.zyhSingleLineListMainPage.ammeter {
  section {
    ul {
      padding-top: 35px;
      display: flex;
      flex-wrap: wrap;

      li {
        width: calc((100vw - 238px) * 0.25);
        height: calc((100vh - 238px) * 0.33333);
        padding-right: 38px;
        padding-bottom: 38px;

        .tableItem {
          height: 100%;
          // padding: 7px 14px;
          border: 3px solid #8e96a4;
          border-radius: 10px;
          overflow: hidden;
          background: #f6f7fa;
          display: flex;
          flex-direction: column;

          .wrapper {
            margin: 8px 15px 0 15px;
            height: 80%;
            background: #fff;
            border: 2px solid #a5acb7;
            border-radius: 10px;

            .signBar {
              height: 28%;
              padding: 0 10px;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .circle {
                border: 2px solid #919191;
                height: 20px;
                width: 20px;
                border-radius: 10px;
                background: #6dc655;
              }

              span:nth-child(2) {
                font-size: 14px;
                font-family: PingFang SC;
                font-weight: 400;
                color: #979797;
              }

              span:nth-child(3) {
                img {
                  height: 20px;
                }
              }
            }

            .meterInfo {
              height: 44%;
              display: flex;
              align-items: center;
              align-content: space-between;
              padding: 0 10px;
              color: #000;

              span:nth-child(1) {
                flex-grow: 1;
                font-size: 14px;
                font-family: PingFang SC;
                font-weight: 400;
              }

              span:nth-child(2) {
                margin: 10px;
                font-size: 30px;
                font-family: PingFang SC;
                font-weight: 600;
                color: #69a464;
              }

              span:nth-child(3) {
                font-size: 20px;
                font-family: PingFang SC;
                font-weight: 500;
              }
            }

            .parameter {
              // border: 1px solid red;
              height: 28%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 10px;

              p:nth-child(1) {
                font-size: 14px;
                font-family: PingFang SC;
                font-weight: 400;
                color: #979797;

                span {
                  color: #000;
                  margin: 0 3px;
                }
              }

              p:nth-child(2) {
                margin: 10px;
                font-size: 14px;
                font-family: PingFang SC;
                font-weight: 600;
                color: #979797;

                span {
                  color: #000;
                  margin: 0 3px;
                }
              }

              p:nth-child(3) {
                font-size: 14px;
                font-family: PingFang SC;
                font-weight: 500;
                color: #979797;

                span {
                  color: #000;
                  margin: 0 3px;
                }
              }
            }
          }

          .operation {
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              margin: 10px;
              height: 20px;
            }
          }
        }
      }

      li:nth-child(4n + 1) {
        margin-left: 38px;
      }
    }
  }
}

// AQI传感器图表样式
.zyhSingleLineListMainPage.AQIsensor {
  section {
    ul {
      padding-top: 35px;
      display: flex;
      flex-wrap: wrap;

      // border: 1px solid red;

      // padding-left: 38px;
      // margin-right: calc(100% - 100vw);
      li {
        // border: 1px solid black;
        width: calc((100vw - 238px) * 0.2);
        height: calc((100vh - 238px) * 0.3333);
        padding-right: 28px;
        padding-bottom: 32px;

        .tableItem {
          height: 100%;
          // padding: 7px 14px;
          border: 3px solid #8e96a4;
          border-radius: 10px;
          overflow: hidden;
          background: #f6f7fa;
          display: flex;
          flex-direction: column;

          .signBar {
            height: 20%;
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .circle {
              border: 2px solid #919191;
              height: 20px;
              width: 20px;
              border-radius: 10px;
              background: #6dc655;
            }

            span:nth-child(2) {
              font-size: 14px;
              font-family: PingFang SC;
              font-weight: 400;
              color: #979797;
            }

            span:nth-child(3) {
              img {
                height: 20px;
              }
            }
          }

          .meterInfo1 {
            height: 30%;
            margin: 0 20px;
            // border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: center;

            span:nth-child(1) {
              margin-right: 20px;
              font-size: 42px;
              font-weight: 400;
              color: #000000;
              font-family: PingFang SC;
            }

            div:nth-child(2) {
              display: flex;
              flex-direction: column;

              span {
                font-weight: 400;
                font-family: PingFang SC;
                margin: 2px 0;
              }

              span:nth-child(1) {
                font-size: 16px;
                color: #000000;
              }

              span:nth-child(2) {
                padding: 2px 15px;
                border-radius: 12px;
                line-height: 1;
                text-align: center;
                background: #66CA0B;
                font-size: 12px;
                color: #fff;
              }
            }
          }

          .meterInfo2 {
            height: 35%;
            margin: 0 35px;

            ul {
              padding: 0;
              margin: 0;
              height: 100%;
              display: flex;
              flex-wrap: wrap;

              li {
                // border: 1px solid red;
                padding: 0;
                margin: 0;
                width: 50%;
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                // border: 1px solid red;
                div:nth-child(1) {
                  // border: 1px solid red;
                  margin-left: 20px;
                  height: 20px;
                  width: 20px;
                  display: flex;
                  text-align: center;
                  justify-content: center;

                  img {
                    height: 20px;
                  }
                }

                div:nth-child(2) {
                  margin-left: 5px;
                  font-size: 10px;

                  span:nth-child(1) {
                    color: #A5A5A5;
                  }

                  span:nth-child(2) {
                    color: #000;
                  }
                }
              }
            }
          }

          .line {
            border-bottom: 1px solid #BFBFBF;
            width: 90%;
            margin-left: 5%;
          }

          .operation {
            height: 15%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              margin: 10px;
              height: 20px;
            }
          }
        }
      }

      li:nth-child(5n + 1) {
        margin-left: 38px;
      }
    }
  }
}